requests==2.20.0
aiohttp==3.6.0
peewee==3.9.2
git+https://github.com/Rapptz/discord.py@master
beautifulsoup4==4.7.1
esprima==4.0.1
gspread==3.6.0
gspread-formatting==0.3.7
beautifulsoup4==4.7.1
matplotlib==3.3.1
scikit-learn==0.23.2
blaseball-mike==5.6.1
